<h3>All Facts:</h3>
<h5 *ngIf="!facts.length" class="text-danger">
  Looks like something went wrong...
  <br />
  Make sure your the server is running
</h5>
<ngb-carousel *ngIf="facts" class="bg-dark wrapper">
  <ng-template ngbSlide *ngFor="let fact of facts">
    <div class="picsum-img-wrapper">
      <div class="fact-wrapper">
        <h6 class="text-success" *ngIf="localFacts?.includes(fact._id)">
          - Saved -
        </h6>
        {{ fact.text }}

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-plus-circle add-button"
          viewBox="0 0 16 16"
          [class.added]="localFacts?.includes(fact._id)"
          (click)="addFact(fact)"
        >
          <path
            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
          />
          <path
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
          />
        </svg>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
