<h3>All Facts:</h3>
<h5 *ngIf="!facts.length" class="text-danger">
  Looks like something went wrong...
  <br />
  Make sure your the server is running
</h5>
<ngb-carousel *ngIf="facts" class="bg-dark wrapper">
  <ng-template ngbSlide *ngFor="let fact of facts">
    <div class="picsum-img-wrapper">
      <div class="fact-wrapper">
        <h6 class="text-success" *ngIf="localFacts?.includes(fact._id)">
          - Saved -
        </h6>
        {{ fact.text }}

        <span
          class="material-icons remove-btn cayan add-button"
          (click)="addFact(fact)"
          [class.added]="localFacts?.includes(fact._id)"
        >
          add
        </span>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
